<a href="https://colab.research.google.com/github/aguchhait-stack/API-Call/blob/main/Coding_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Leap Year

In [ ]:
def is_leap(year):
  leap = False
  if year %4 ==0:
    if year%100==0:
      if year%400==0:
        leap=True
      else:
        leap =False
    else:
      leap =True
  else:
    leap =False
  return leap
year = int(input("Enter the Year: " ))
print('Is it Leap Year?:', is_leap(year))

Enter the Year: 2089
Is it Leap Year?: False

In [4]:
def is_leap(year):
  leap = False
  if year%400 == 0:
    return True
  elif year%100 == 0:
    return False
  elif year%4 == 0:
    return True
  else:
    return False

  return leap
year = int(input("Enter the Year: " ))
print('Is it Leap Year?:', is_leap(year))

Enter the Year: 2000
Is it Leap Year?: True

In [ ]:
# One line version
def is_leap(year):
  return year%4==0 and (year%100!=0 or year%400==0)
year = int(input("Enter the Year: " ))
print('Is it Leap Year?:', is_leap(year))

Enter the Year: 1992
Is it Leap Year?: True

2. Factorial (using recursion)

In [ ]:
def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*factorial(n-1)
n= int(input("Enter the number: "))
print(factorial(n))

Enter the number: 5
120

3. Check Palindrome String

In [ ]:
def is_palindrome(s):
  s=s.lower().replace(" ","")
  return s==s[::-1]
s=input('Enter the string: ')
print(is_palindrome(s))

Enter the string: Ma   d  a m
True

4. Prime Number

In [ ]:
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,n-1):
    if n%i==0:
      return False
  return True
n=int(input("Enter the number: "))
print(is_prime(n))

Enter the number: 11
True

In [ ]:
x=float(5)
y='arijit'

In [ ]:
print(type(x))
print(type(y))

<class 'float'>
<class 'str'>

In [ ]:
x,y,z=['apple','banana','orange']
print(type(x))
print(x,y)

<class 'str'>
apple banana

In [ ]:
x,y,z='python','is','awesome'
print(x,y,z)

python is awesome

In [ ]:
x='awesome'
def my_func():
  print('Python is ' + x) # Corrected concatenation
my_func() # Call the function to see the output

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = "awesome"
def my_func():
  global x
  x='fantastic'
  print('Python is '+x)
my_func()
print('Python is '+x)

Python is fantastic
Python is fantastic

In [ ]:
x=('apple',5,6.7)
print(type(x))

<class 'tuple'>

In [ ]:
x=int(5.55)
print(x)

5

In [ ]:
import random
print(random.randrange(1,13))

8

In [ ]:
print("He is called 'Johnny'")

He is called 'Johnny'

In [ ]:
for i in 'banana':
  print(i)

b
a
n
a
n
a

In [ ]:
text='I love car'
if 'car' in text:
  print("Yes, 'car' is in the text")

Yes, 'car' is in the text

In [ ]:
a = " Hello, World! "
print(a.strip().lower())

hello, world!

In [ ]:
a = " Hello, World! "
print(a.split(','))

[' Hello', ' World! ']

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
import random
x=random.randrange(28,35)
def my_function():
  print(f"I want to marry a girl who is {x} and {x+1} years of age")
my_function()

I want to marry a girl who is 30 and 31 years of age

In [ ]:
import random
x=random.randrange(0,10)
text=f"Price of this product is {x:.2f}"
print(text)

Price of this product is 5.00

In [ ]:
print(' It\'s\n alright')

 It's
 alright

In [ ]:
x= 'Hello World'
print(len(x))

11

In [ ]:
x=5
x//=3
print(x)

1

In [ ]:
thislist=list(('apple','orange','banana'))
print(type(thislist))

<class 'list'>

In [ ]:
thislist.append('mango')

In [ ]:
thislist.insert(1,'mango')

In [ ]:
thislist.extend(['kiwi','cherry'])

In [ ]:
thislist.remove('mango')

In [ ]:
thislist[:-1]

['apple',
 'orange',
 'banana',
 'mango',
 'kiwi',
 'cherry',
 'kiwi',
 'cherry',
 'kiwi',
 'cherry',
 'kiwi']

In [ ]:
del thislist[1:3]

In [ ]:
for i in thislist:
  print(i)

apple
mango
kiwi
cherry
kiwi
cherry
kiwi
cherry
kiwi
cherry

In [ ]:
i=0
while i<len(thislist):
  print(f"{i}:{thislist[i]}")
  i+=1

0:apple
1:mango
2:kiwi
3:cherry
4:kiwi
5:cherry
6:kiwi
7:cherry
8:kiwi
9:cherry

In [ ]:
new_list=[]
for i in thislist:
  if 'a' in i:
    new_list.append(i)
new_list

['apple', 'mango']

In [ ]:
thislist.sort(reverse=True)
print(thislist)

['mango', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'cherry', 'cherry', 'cherry', 'cherry', 'apple']

In [ ]:
thislist.reverse()
thislist

['apple',
 'cherry',
 'cherry',
 'cherry',
 'cherry',
 'kiwi',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango']

In [ ]:
this_dict={'brand':'Ford','model':'Mustang','year':1964}
this_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
this_dict['color']='red'
this_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
this_dict['color']='blue'
this_dict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

In [ ]:
for x,y in this_dict.items():
  print(x,y)

brand Ford
model Mustang
year 1964
color blue

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
type(myfamily)

dict

In [ ]:
for x,y in myfamily.items():
  print(f"{x}:{name}")

(child1:{'name': 'Emil', 'year': 2004})
(child2:{'name': 'Tobias', 'year': 2007})
(child3:{'name': 'Linus', 'year': 2011})

In [18]:
x = 2

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
else:
  print("not above 10")

not above 10

In [22]:
#Print i as long as i is less than 6:
i=1
while i<6:
  print(i)
  i+=1
else:
  print('i is greater than 6 ')

1
2
3
4
5
i is greater than 6

In [23]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [1]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [30]:
mylist=['Sangita','Madhumita','Krittika','Rajita']
def my_love(girl_name):
  if girl_name in mylist:
    print(f"If {girl_name} marry me, her name would be {girl_name} Guchhait.")
  else:
    print(f"Sorry, {girl_name} is not in the list!")
my_love('Ankita')

Sorry, Ankita is not in the list!

In [29]:
def my_function(*kids):
  print(f"My youngest child is {kids[-1]}")
my_function('Sonu','Manu')

My youngest child is Manu